*{
    margin: 0;
    padding: 0;
}

.container {
    margin-bottom: 2vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: black;
    color: white;
    padding: 1vh 2vw; 
    border-radius: 10px;
    margin: 1vh;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    .userImageContainer{
        .userImage{
            width: 6vh;
            height: 6vh;
            border-radius: 50%;
        }
    }

    .logo{
        .logo-img{

            width: 5vh;
            height: 5vh;
        }
    }

    .avatar{
        overflow: hidden;
        border-radius: 50%;
        .userIcon{
            width: 2rem;
            height: 2rem;
            margin: 0;
            padding: 0;
        }
    }

    .tabs{
        width: 40%;
        display: flex;
        justify-content: space-around;
        .tab{
            width: 24%;
            margin: 0 auto;
            padding: 0 10px;
            font-size: 28px;
            text-decoration: none;
            color: white;
        }
        .tab:hover{
            transition-property: all;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-duration: 350ms;
            font-size: 29px;
            box-shadow : 0 4px 0px 0 rgba(255, 255, 255, 0.753), 0 1px 4px -1px rgba(255, 255, 255, 0.1);
        }
    }
    

}


